<div class="container">
  <div class="row">
    <div class="alert alert-light" role="alert">
      Add Student to branch
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 ">
      <label>Select Branch</label>
      <select [(ngModel)]="branchSelect" name="branchSelect" (change)="getSelectedBranch()">
        <option *ngFor="let branch of branchList; let i = index" [value]="i"> {{branch.name}}</option>
      </select>
    </div>
  </div>

  <form>
    <div class="row">
      <div className="form-group row">
        <div className="col-lg-3">
          <label>First Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="First Name">
        </div>
        <div className="col-lg-3">
          <label>Middle Name</label>
          <input type="text" class="form-control" id="middleName" placeholder="Middle Name">
        </div>
        <div className="col-lg-3">
          <label>Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Last Name">
        </div>
        <div className="col-lg-3">
          <label>Nick Name</label>
          <input type="text" class="form-control" id="nickName" placeholder="Nick Name">
        </div>
      </div>
    </div>
    <div class="row">
      <div className="form-group row">
        <div className="col-lg-3">
          <label>Guardian Name</label>
          <input type="text" class="form-control" id="guardianName" placeholder="Guardian Name">
        </div>
        <div className="col-lg-3">
          <label>Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
        </div>
        <div className="col-lg-3">
          <label>Email Address</label>
          <input type="text" class="form-control" id="emailAddress" placeholder="Email Address">
        </div>
        <div className="col-lg-3">
          <label>Address</label>
          <input type="text" class="form-control" id="address" placeholder="Address">
        </div>
      </div>
    </div>
    <div class="row">
      <div className="form-group row">
        <div className="col-lg-3">
          <label>State</label>
          <input type="text" class="form-control" id="state" placeholder="State">
        </div>
        <div className="col-lg-3">
          <label>PinCode</label>
          <input type="text" class="form-control" id="pinCode" placeholder="PinCode">
        </div>
        <div className="col-lg-3">
          <label>Gender</label>
          <input type="text" class="form-control" id="gender" placeholder="Gender">
        </div>
        <div className="col-lg-3">
          <label>Date of Birth</label>
          <input type="text" class="form-control" id="dob" placeholder="Date of Birth">
        </div>
      </div>
    </div>
    <div class="row">
      <div className="form-group row">
        <div className="col-lg-3">
          <label>Branch Name</label>
          <input type="text" class="form-control" id="branchName" placeholder="Branch Name">
        </div>
        <div className="col-lg-3">
          <label>Task</label>
          <input type="text" class="form-control" id="task" placeholder="Task">
        </div>
      </div>
    </div>
  </form>
</div>


