<div class="container">

  <div class="tab">
    <button class="tablinks btn btn-default" (click)="showAddProduct()">Add Product</button>
    <button class="tablinks btn btn-default" (click)="showUpdateProduct()">Update Product</button>
  </div>

  <div class="row" id="Add Product" class="tabcontent" *ngIf ="addProduct">
    <div>
      <form>
        <div class="form-group row">

          <div class="col-lg-5">
            <label>Product Name</label>
            <input type="text" 
            class="form-control" 
            placeholder="Product Name"
            name="productRequestproductName" 
            id="productRequestproductName"
            [(ngModel)]="productRequest.productName">
          </div>

          <div class="col-lg-5">
            <label>Product Description</label>
            <input type="text" 
            class="form-control" 
            placeholder="Product Description"
            name="productRequestproductDescription" 
            id="productRequestproductDescription"
            [(ngModel)]="productRequest.productDescription">
          </div>

          <div class="col-lg-2" style="text-align: center;margin-top: 30px;">
            <label class="checkbox-inline">
              <input type="checkbox" [(ngModel)]="productRequest.isActivity" name="isActivity" style="margin-right: 10px;">Activity
            </label>
          </div>

          <div class="col-lg-6" style="margin-top: 15px;">
            <label>Select Branch</label>
              <select [(ngModel)]="branchSelect" name="branchSelect" (change)="getSelectedBranch()">
                <option *ngFor="let branch of branchList; let i = index" [value]="i"> {{branch.name}}</option>
              </select>
            <div>
                <label>Selected : </label>
                <div *ngFor="let branch of this.productRequest.branchDetails; let i = index">
                  {{branch.name}}
                </div> 
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let field of productRequest.tasks; let i = index">
            <td>
              <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
            </td>
            <td>
              <input [(ngModel)]="field.description" class="form-control" type="text" name="{{field.description}}" />
            </td>
            <td width="150px">
              <button class="glyphicon glyphicon-remove btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
            </td>
          </tr>
          <tr>
            <td>
              <input class="form-control" type="text" id="newAttributeTaskName" [(ngModel)]="newAttribute.name" name="newAttributeTaskName" />
            </td>
            <td>
              <input class="form-control" type="text" id="newAttributeTaskDesc" [(ngModel)]="newAttribute.description" name="newAttributeTaskDesc" />
            </td>
            <td width="150px">
              <button class=" btn btn-default" type="button" (click)="addFieldValue()">Add</button>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="button" 
        class="btn btn-info" 
        (click)="submitProduct(false)"
        style="background-color: #16A085; float:right; margin-right:20px">
        Submit
      </button>

      <div class="row" *ngIf = "addSuccessMessage">
        <div class="col-lg-12">
          <h4 class="text-center" style="margin: auto 0" [style.color]="addSuccessMessage==true?'Green':'Red'">{{responseMessage}}</h4>
        </div>  
      </div>
    </div>
    </div>
  </div>

  <div class="row" id="Update Product" class="tabcontent" *ngIf = "updateProduct">
    <div>
      <form>
        <div class="form-group row">

          <div class="col-lg-4">
            <label>Product Name</label>
            <select [(ngModel)]="productSelect" name="productSelect" (change)="getSelectedProductDetails()">
              <option *ngFor="let product of productList; let i = index" [value]="i"> {{product.name}}</option>
            </select>
          </div>
          <!-- <div class="col-lg-5">
              <label>Product Name</label>
              <input type="text" 
              class="form-control" 
              placeholder="Product Name"
              name="productRequestproductName" 
              id="productRequestproductName"
              [(ngModel)]="productRequest.productName">
            </div>
            <div class="col-lg-5">
                <label>Product Description</label>
                <input type="text" 
                class="form-control" 
                placeholder="Product Description"
                name="productRequestproductDescription" 
                id="productRequestproductDescription"
                [(ngModel)]="productRequest.productDescription">
              </div> -->
          <div class="col-lg-3">
            <label>Add New Branch</label>
              <select [(ngModel)]="branchSelect" name="branchSelect" (change)="getSelectedBranch()">
                <option *ngFor="let branch of branchList; let i = index" [value]="i"> {{branch.name}}</option>
              </select>
            <div>
                <label>Selected branches : </label>
                <div *ngFor="let branch of this.productRequest.branchDetails; let i = index">
                  {{branch.name}}
                </div> 
            </div>
          </div>
          <div class="col-lg-2" style="text-align: center;margin-top: 30px;">
              <label class="checkbox-inline">
                <input type="checkbox" [(ngModel)]="productRequest.isActivity" name="isActivity" style="margin-right: 10px;">Activity
              </label>
            </div>
        </div>
      </form>
    </div>

    <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Task Name</th>
            <th>Task Description</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let field of productRequest.tasks; let i = index">
            <td>
              <input [(ngModel)]="field.name" class="form-control" type="text" name="{{field.name}}" />
            </td>
            <td>
              <input [(ngModel)]="field.description" class="form-control" type="text" name="{{field.description}}" />
            </td>
            <td width="150px">
              <button class="glyphicon glyphicon-remove btn btn-default"  type="button" (click)="deleteFieldValue(i)">Delete</button>
            </td>
          </tr>
          <tr>
            <td>
              <input class="form-control" type="text" id="newAttributeTaskName" [(ngModel)]="newAttribute.name" name="newAttributeTaskName" />
            </td>
            <td>
              <input class="form-control" type="text" id="newAttributeTaskDesc" [(ngModel)]="newAttribute.description" name="newAttributeTaskDesc" />
            </td>
            <td width="150px">
              <button class=" btn btn-default" type="button" (click)="addFieldValue()">Add</button>
            </td>
          </tr>
        </tbody>
      </table>

      <button type="button" 
        class="btn btn-info" 
        (click)="submitProduct(true)"
        style="background-color: #16A085; float:right; margin-right:20px">
        Submit
      </button>

      <div class="row" *ngIf = "updateSuccessMessage">
        <div class="col-lg-12">
          <h4 class="text-center" style="margin: auto 0" [style.color]="updateSuccessMessage==true?'Green':'Red'">{{responseMessage}}</h4>
        </div>  
      </div>

    </div>
    </div>
  </div>
</div>
