<div class="container" style="border: #e3e3e3 solid 1px;padding: 20px 40px;">
  <div class="row">
    <div class="col-lg-12">
      <h4 style="margin: auto 0">Update Teacher
        <span style="float: right">
          <a style="border-radius: 40px;color: #ffff;background: #343a40;" class="tablinks btn btn-default"
            href="#/admin-dashboard/add-teacher">Add Teacher</a>
        </span>
      </h4>
    </div>
  </div>
  <hr>
  <br />
  <form (ngSubmit)="onSubmit()" #heroForm="ngForm" class="form-horizontal">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label col-sm-4" for="memberSelected">Select Teacher:</label>
          <div class="col-sm-12">
            <select required [(ngModel)]="memberSelected" class="form-control" name="memberSelected"
              (change)="getMember($event);">
              <option style="text-align: center" disabled value="0">Select</option>
              <option *ngFor="let member of teachersList" [value]="member.id" style="text-align: center">
                {{member.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="control-label col-sm-4" for="branchId">Branch:</label>
          <div class="col-sm-12">
            <select required [disabled]="memberSelected===0" [(ngModel)]="model.branchId" class="form-control"
              name="branchId">
              <option style="text-align: center" disabled value="0">Select</option>
              <option *ngFor="let branch of branchList;" [value]="branch.id" style="text-align: center">
                {{branch.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="control-label col-sm-4" for="initial">Initial:</label>
          <div class="col-sm-12">
            <select [disabled]="memberSelected===0" class="form-control" id="initial" required
              [(ngModel)]="model.initial" name="initial" #initial="ngModel">
              <option *ngFor="let pow of initials" [value]="pow">{{pow}}</option>
            </select>
            <div [hidden]="initial.valid || initial.pristine" class="alert alert-danger">
              Initial is required
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="control-label col-sm-4" for="name">Name:</label>
          <div class="col-sm-12">
            <input type="text" [disabled]="memberSelected===0" placeholder="Enter name" class="form-control" id="name"
              required [(ngModel)]="model.name" name="name" #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              Name is required
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label class="control-label col-sm-4" for="contact">Contact:</label>
          <div class="col-sm-12">
            <input placeholder="XXX XXXX XXX" [disabled]="memberSelected===0" type="tel" pattern="[0-9]{10}"
              class="form-control" id="contact" required [(ngModel)]="model.contact" name="contact" #contact="ngModel">
            <div [hidden]="contact.pristine || contact.valid" class="alert alert-danger">
              Enter a valid contact number
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="control-label col-sm-4" for="code">User Name</label>
          <div class="col-sm-12">
            <input type="text" [disabled]="memberSelected===0" placeholder="Enter user name" class="form-control"
              id="code" required [(ngModel)]="model.code" name="code" #code="ngModel">
            <div [hidden]="code.valid || code.pristine" class="alert alert-danger">
              User Name is required
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12" style="text-align: right;">
        <div class="form-group">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success"
              [disabled]="!heroForm.form.valid || memberSelected===0">Update</button>
            <button type="button" class="btn btn-outline-secondary"
              (click)="formReset();">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row" *ngIf="displayMessage">
    <div class="col-lg-9 alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <h5 class="text-center" style="margin: auto 0; margin-top:60px;"
        [style.color]="addSuccessMessage==true?'Green':'Red'">{{responseMessage}}</h5>
    </div>
  </div>
</div>
