
<div class="container">
  <div class="row">
     <div class="col-md-12 ">
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect2" [(ngModel)]="selectedMonth" 
        (change)="getListOfProducts(selectedMonth)">
           <option>choose one</option>
          <option *ngFor="let m of monthList" value="{{m.value}}">{{m.text}}</option>
        </select>
      </div>
    </div>
  </div>

   <div class="row" *ngIf="selectedMonth!=''">

      <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-custom">
                        <thead>
                          <tr>
                            <th></th>
                            <th *ngFor="let b of branches; let bi = index">
                              {{b.name}}
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let p of productList; let in = index;">
                            <td class="py-1">
                             {{p.name}}
                            </td>
                           
                            <td class="table-td-custom-size" *ngFor="let d of p.targetData; let i = index">
                              <input type="number" name="janValue"
                                [(ngModel)]="d.targetVal" [disabled]="!d.isEnabled"
                              />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2" *ngIf="selectedMonth!=''">
              <button class="offset-md-3 btn btn-primary" (click)="updateTarget()">Update Target</button>
            </div>
        </div>
