<nav class="navbar navbar-expand-lg navbar-dark bg-dark1">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a href="#/dashboard/branch" class="d-none d-md-block d-lg-block">
      <img src="assets/img/logo.png" alt="Home" style="max-width: 60px;max-height: 60px"/>
    </a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

   </ul>
     <ul class="navbar-nav">
          <li class="nav-item ml-2 pr-4">
              <a class="nav-link" style="cursor: default">
                <small class="form-text text-muted">Date : {{bsValue}} <img src="assets/img/calendar-icon.svg" style="width: 1rem; height: 1rem; cursor: pointer;"/></small>
              </a>
          </li>

          <li class="nav-item ml-2 pr-4" *ngIf="selectedBranch">
              <a class="nav-link" href="#/dashboard/branch">
                <small class="form-text text-muted">Branch : {{selectedBranch || ""}}
                </small>
              </a>
          </li>
          <li class="nav-item ml-2 pr-4">
            <a class="nav-link" href="#/dashboard/report" style="cursor: pointer">
             <small class="form-text text-muted"> Reports </small>
            </a>
          </li>
        
           <li class="nav-item ml-2 pr-4">
              <a class="nav-link" href="#/dashboard/branch">
                <small class="form-text text-muted" (click)="logout()">Logout
                </small>
              </a>
          </li>
      </ul>
  </div>
</nav>

 <div id="wrapper" class="container-fluid">
        <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
               <!-- <app-breadcrumb></app-breadcrumb> -->
            </div>
            <router-outlet></router-outlet>
        </div>
      <!-- /#page-content-wrapper -->
    </div>
  </div>
